
body {
  background: #4D5D6C;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.accord {
  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #1C2939;
    border: 0;
    outline: none;
    color: #67737F;
    cursor: pointer;
    i {
      font-size: 15px;
      margin: 0 10px;
    }
    .wrapper {
      display: flex;
      align-items: center;
    }
    .main-counter {
      background: darken(#1C2939,2%);
      padding: 5px 10px;
      border-radius: 20px;
      margin-right: 10px;
    }
    &:hover {
      color: #fff;
      background: darken(#1C2939,1%);
      .main-counter {
        color: #fff;
        background: #2EABE1;
        // background: darken(#1C2939,5%);
      }
    }
  }

  ul {
    display: none;
    li {
      &:not(:last-child) {
        border-bottom: 1px solid darken(#253447,5%);
      }
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #EEEEEE;
        background: #253447;
        &:hover {
          color: #2EABE1;
          background: lighten(#253447, 5%);
          .wrapper {
            // color: #3E5706;
            .number {
              // color: #fff;
              // background: #2EABE1;
            }
          }
          .sub-counter {
            color: #fff;
            background: #2EABE1;
            border: 1px solid #2EABE1;
          }
        }
        .wrapper {
          display: flex;
          align-items: center;
          .number {
            color: ligthen(#2C3B4F, 5%);
            margin: 0 10px;
          }
        }
        .sub-counter {
          margin: 0 15px;
          padding: 5px 15px;
          border: 1px solid #CFCFCF;
          border-radius: 20px;
        }
      }
    }
  }
}

.selected {
  background: red;
  button {
    color: #fff;
    background: darken(#1C2939,2%);
    .main-counter {
      color: #fff;
      background: #2EABE1;
    }
  }
}
